
body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.6; /*Distância entre as linhas*/
}

header {
    background-color: aqua;
    color: white;
    padding: 1rem; /*Padding rem para consistência com o tamanho da fonte raiz*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
     padding: 2rem; /*Espaçamento interno da área principal*/
     color: aqua;  
}

.section {
    padding: 2em; /*Padding em relativo ao atamnho do elemento pai*/
    margin-bottom: 2em; /*Espaço abaixo de cada seção*/
    border-radius: 8px;
    position: relative; /**/
}


.section1 {
    background-color: cadetblue;
    color: white;
}

.section2 {
     background-color: rgb(122, 78, 163);
     color: white;
}

.section3 {
    background-color: rgb(160, 70, 70);
    color: white;
}

/*Estilo das caixas*/
.box {
   background-color: #fff;
   color: black;
   padding: 2rem; /*Padding aumentado para maior visibilidade */
   margin: 1rem;
   border-radius: 8px;
   text-align: center;
   font-size: 1.2rem; /*Tamanho da fonte aumentado para maior legibilidade */
   box-sizing: border-box; /*Inclui padding e borda no cálculo da largura */
}

/*Layout das caixas*/
.box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
    width: calc(50% - 2rem); /*Largura das caixas ajustada para caber duas por linhas com espaçamento */
    float: left;  /*Trabalha com a distribuição dos elementos... */
}

/*Limpeza do float */
.section::after {
    content: ""; /*Adiciona um elemento invisível após o conteúdo da seção */
    display: table; /*Faz com que o elemento invisível se comporte como um bloco, forçando o contêiner a incluir elementos flutuantes */
    clear: both; /*Garante que o contêiner "limpe" os elementos flutuantes, evitando problemas no layout */
}

/*Responsividade*/

/*Ajuste para telas grandes (largura acima de 1200px) */
@media (min-width: 1200px) {
    .box {
        width: calc(33.333% - 2rem); /* Largura de 33.333% para três caixas por linha*/
    }
}

/*Ajuste para telas médias (largura até 1200px*/
@media (max-width: 1200px) {
    .box {
        width: calc(50% - 2rem); /*Largura de 50% para duas caixas por linha*/
    }
}
